

bin/
obj/


*.user
*.userosscache
*.suo
*.userprefs


.vs/
.vscode/


*.log
*.tmp
*.temp


.DS_Store
Thumbs.db


.idea/


wwwroot/lib/


publish/
*.publishproj


*.nupkg
packages/


.env
.env.*

TestResults/

/Migrations

coverage/
*.coverage
*.coveragexml
